    @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss";
    .navbar-right>img {
        width: 250px;
        height: 120px;
    }
    
    .logo-big {
        float: left;
        font-family: 'AlexiaFontMedium';
        font-weight: bold;
        font-style: normal;
    }
    
    .logo-small {
        float: left;
        font-family: 'AlexiaFontMedium';
        font-weight: lighter;
        font-style: normal;
    }
    
    .logo-span {
        position: relative;
        top: 60px;
        left: -90px;
    }